{{>_header}}

  <div>
    <h1>{{title}}</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
  <div>
  <h1>H1 font</h1>
  <h2>This should be h2 and Roboto</h2>
  <h3>H3 Font</h3>
  <p>Lucas ipsum dolor sit amet glymphid bertroff jeremoch whiphid juvex baba baba ogemite lorth teevan. Zuckuss veila glymphid skywalker kenobi aruzan. Sikan dantooine felucia saurin abregado codru-ji colton ewok tano. Veers snootles haruun darth iv elom vos. Boltrunians binks tc-14 luke ortolan. Moff lannik hallotan t88 ansionian melodie senesca gorog. Chewbacca walon muunilinst mod senex. Grodin caamasi lorth naberrie ahsoka mandalore atrivis ryn. Dooku kwa tibor jango unduli kohl. Jagged paploo p'w'eck raynar kastolar skywalker yoda.</p>
  </div>
  <div class="bs-docs-section">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-12">
          <h1 id="buttons">Buttons</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">

        <p class="bs-component">
          <a href="#" class="btn btn-default">Default</a>
          <a href="#" class="btn btn-primary">Primary</a>
          <a href="#" class="btn btn-success">Success</a>
          <a href="#" class="btn btn-info">Info</a>
          <a href="#" class="btn btn-warning">Warning</a>
          <a href="#" class="btn btn-danger">Danger</a>
          <a href="#" class="btn btn-link">Link</a>
        </p>

        <p class="bs-component">
          <a href="#" class="btn btn-default disabled">Default</a>
          <a href="#" class="btn btn-primary disabled">Primary</a>
          <a href="#" class="btn btn-success disabled">Success</a>
          <a href="#" class="btn btn-info disabled">Info</a>
          <a href="#" class="btn btn-warning disabled">Warning</a>
          <a href="#" class="btn btn-danger disabled">Danger</a>
          <a href="#" class="btn btn-link disabled">Link</a>
        </p>


        <div style="margin-bottom: 15px;">
          <div class="btn-toolbar bs-component" style="margin: 0;">
            <div class="btn-group">
              <a href="#" class="btn btn-default">Default</a>
              <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-primary">Primary</a>
              <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-success">Success</a>
              <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-info">Info</a>
              <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-warning">Warning</a>
              <a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
        </div>

        <p class="bs-component">
          <a href="#" class="btn btn-primary btn-lg">Large button</a>
          <a href="#" class="btn btn-primary">Default button</a>
          <a href="#" class="btn btn-primary btn-sm">Small button</a>
          <a href="#" class="btn btn-primary btn-xs">Mini button</a>
        </p>

      </div>
      <div class="col-lg-6">

        <p class="bs-component">
          <a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>
        </p>


        <div class="bs-component" style="margin-bottom: 15px;">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default">Left</a>
            <a href="#" class="btn btn-default">Middle</a>
            <a href="#" class="btn btn-default">Right</a>
          </div>
        </div>

        <div class="bs-component" style="margin-bottom: 15px;">
          <div class="btn-toolbar">
            <div class="btn-group">
              <a href="#" class="btn btn-default">1</a>
              <a href="#" class="btn btn-default">2</a>
              <a href="#" class="btn btn-default">3</a>
              <a href="#" class="btn btn-default">4</a>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-default">5</a>
              <a href="#" class="btn btn-default">6</a>
              <a href="#" class="btn btn-default">7</a>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-default">8</a>
              <div class="btn-group">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Dropdown
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Dropdown link</a></li>
                  <li><a href="#">Dropdown link</a></li>
                  <li><a href="#">Dropdown link</a></li>
                 </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="bs-component">
          <div class="btn-group-vertical">
              <a href="#" class="btn btn-default">Button</a>
              <a href="#" class="btn btn-default">Button</a>
              <a href="#" class="btn btn-default">Button</a>
              <a href="#" class="btn btn-default">Button</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="bs-component">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>#</th>
                <th>Column heading</th>
                <th>Column heading</th>
                <th>Column heading</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="info">
                <td>3</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="success">
                <td>4</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="danger">
                <td>5</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="warning">
                <td>6</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="active">
                <td>7</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
            </tbody>
          </table> 
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
        </div>
        <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="forms">Forms</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="well bs-component">
          <form class="form-horizontal">
            <fieldset>
              <legend>Legend</legend>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Checkbox
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="3" id="textArea"></textarea>
                  <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Radios</label>
                <div class="col-lg-10">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                      Option one is this
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Option two can be something else
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Selects</label>
                <div class="col-lg-10">
                  <select class="form-control" id="select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <br>
                  <select multiple="" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
      </div>
      <div class="col-lg-4 col-lg-offset-1">

          <form class="bs-component">
            <div class="form-group">
              <label class="control-label" for="focusedInput">Focused input</label>
              <input class="form-control" id="focusedInput" type="text" value="This is focused...">
            </div>

            <div class="form-group">
              <label class="control-label" for="disabledInput">Disabled input</label>
              <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
            </div>

            <div class="form-group has-warning">
              <label class="control-label" for="inputWarning">Input warning</label>
              <input type="text" class="form-control" id="inputWarning">
            </div>

            <div class="form-group has-error">
              <label class="control-label" for="inputError">Input error</label>
              <input type="text" class="form-control" id="inputError">
            </div>

            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess">Input success</label>
              <input type="text" class="form-control" id="inputSuccess">
            </div>

            <div class="form-group">
              <label class="control-label" for="inputLarge">Large input</label>
              <input class="form-control input-lg" type="text" id="inputLarge">
            </div>

            <div class="form-group">
              <label class="control-label" for="inputDefault">Default input</label>
              <input type="text" class="form-control" id="inputDefault">
            </div>

            <div class="form-group">
              <label class="control-label" for="inputSmall">Small input</label>
              <input class="form-control input-sm" type="text" id="inputSmall">
            </div>

            <div class="form-group">
              <label class="control-label">Input addons</label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Button</button>
                </span>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>

{{_footer}}
