{{>_header}}
    <div class="container">
        <div class="row">
            <div class="row">
              <div class="col-md-4">
                  <h2>Sponsor Information</h2>
                  <p>Please tell us a little about yourself.</p>

              </div>
              <div class="col-md-8">
                  <form role="form">
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                      </div>
                      <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" class="form-control" id="category" placeholder="Last Name">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
              </div>
            </div>
        </div>
 
Category:   
Address:    
City:   
State:  
Zip:    
Phone: 

Piggy Information     
Name your Piggy, set a fundraising goal and tell us the name of the company or organization adopting this pig (if applicable).
Adopt Pig
Piggy Name: 
Fundraiser Goal: (enter numbers only, no symbols)   
Sponsor Name for Business or Organizations: (Individuals Names will be used for Individual Sponsors)    

    </div>
{{>_footer}}